<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head_html" />
<style>
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-image: url(https://whatsnewindonesia.com/jakarta/wp-content/uploads/sites/2/2019/05/Lebaran-Hampers-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .form-card {
        min-width: 50%;
        display: block;
        margin:15px auto;
        padding: 50px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        overflow-y: hidden;
        transition: 0s;
        background: rgba(39, 40, 45, 0.7);
        padding: 0;
    }
    input[type=text], input[type=password], input[type=email]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #submit {
        width: 100%;
        background-color: #8d6852;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media only screen and (max-width: 480px) {
        .form-card {
            min-width: 90%;
        }
    }
</style>
<body>

<div class="container-fluid overlay">
    <div class="login form-card p-5">
        <h5>Welcome Back</h5>
        <form th:action="@{/login}" method="post" id="form">
            <div th:if="${param.error}">
                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>
    
            <div th:if="${param.logout}">
                <p class="text-warning">You have been logged out.</p>
            </div>

            <div class="form-group my-1">
                <input id="username" name="username" type="text" class="form-control"placeholder="Username" required autofocus>
            </div>
            <div class="form-group my-1">
                <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
            </div>
            <button id="submit" type="submit" class="btn my-2" name="submit">Login</button>
        </form>
        <p>Don't have an account? <span><a class="link" th:href="@{/registration}">Register</a></span></p>
    </div>
</div>

</body>
</html>