<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head_html" />
<style>
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        background-image: url(https://whatsnewindonesia.com/jakarta/wp-content/uploads/sites/2/2019/05/Lebaran-Hampers-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .form-card {
        min-width: 50%;
        display: block;
        margin:15px auto;
        padding: 50px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
    }
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        overflow-y: hidden;
        transition: 0s;
        background: rgba(39, 40, 45, 0.7);
        padding: 0;
    }
    input[type=text], input[type=password], input[type=email]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #submit {
        width: 100%;
        background-color: #8d6852;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .register {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media only screen and (max-width: 480px) {
        .form-card {
            min-width: 90%;
        }
    }
</style>
<body>

<div class="container-fluid overlay">
            <div class="register form-card p-5">
                <h5>Create Account</h5>
                <div th:if="${param.error}">
                    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                </div>

                <form th:object="${user}" th:action="@{/api/register}" method="post" id="registrationForm">
                    <div class="form-group my-1">
                        <input th:field="*{username}" id="username" name="username" type="text" class="form-control"placeholder="Username" required>
                    </div>
                    <div class="form-group my-1">
                        <input th:field="*{password}" id="password" name="password" type="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group my-1">
                        <input th:field="*{passwordConfirm}" id="passwordConfirm" name="passwordConfirm" type="password" class="form-control" placeholder="Confirm Password" required>
                    </div>
                    <button id="submit" type="submit" class="btn my-2" name="submit">Register</button>
                </form>
                <p>Already have an account? <span><a class="link" th:href="@{/login}">Login</a></span></p>
            </div>
</div>

</body>
</html>