<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head_html" />
<style>
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
    h3, h2 {
        color: #8d6852;
    }
    .content {
        padding: 50px;
    }
    .secondary-text {
        color: #8d6852;
    }
    a {
        text-decoration: none;
        color: #27282d;
        cursor: pointer;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $(".submitButton").click(function() {

            //Select the parent form and submit
            $(this).parents("form").submit(function (e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.

                var form = $(this);
                var url = form.attr('action');
                var data = form.serializeArray();
                console.log(JSON.stringify(getFormData(data)));

                $.ajax({
                    dataType: 'json',
                    type: 'PUT',
                    contentType: 'application/json',
                    url: url,
                    data: JSON.stringify(getFormData(data)),
                    success: function (data) {
                        console.log(data); // show response from the php script.
                        alert("Konfirmasi berhasil!");
                        location.reload();
                    },
                    fail: function (data) {
                        console.log(data + "gagal");
                    }
                });
            });
        });
    });

    function getFormData(data) {
        var unindexed_array = data;
        var indexed_array = {};

        $.map(unindexed_array, function(n, i) {
            indexed_array[n['name']] = n['value'];
        });
        return indexed_array;
    }
</script>

<body>
    <nav th:replace="fragments :: navbar" />
    <div class="content">
        <a th:href="@{/admin}" class="float-end" style="color:#1a0dab;">Stock Management</a>
        <h2>Daftar Transaksi</h2>
<!--        <form th:action="@{/api/checkout/}" method="PUT" id="ubahStatusForm">-->
<!--            <input type="hidden" name="id" value="6">-->
<!--            <input type="hidden" name="status" value="Selesai">-->
<!--            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tidak</button>-->
<!--            <button type="submit" class="btn btn-success">Ya</button>-->
<!--        </form>-->
        <div th:each="transaksi:${Transaksi}" class="card" th:id="'order' + ${transaksi.getOrderId()}">
            <div class="card-body">
                <form th:action="@{/api/checkout/}" method="PUT" id="ubahStatusForm">
                    <h4 th:text="'Order #' + ${transaksi.getOrderId()}"></h4>
    <!--                <p>14:33 Jumat, 4 Juni 2021</p>-->
                    <p th:text="${transaksi.getCreatedAt()}"></p>
                    <p th:text="'User: ' + ${transaksi.getPembeli()}"></p>
                    <p th:text="'Status: ' + ${transaksi.getStatus()}"></p>
    <!--                <img src="https://millsdisplay.co.nz/wp-content/uploads/2019/04/Medium-Poly-Wicker-Basket-Natural.jpg" width="120em" height="120em" alt="gambar"><br>-->
                    <!-- Add preview trigger -->
                    <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" th:data-bs-target="'#order' + ${transaksi.getOrderId()} + 'Modal'">
                        Konfirmasi
                    </button>

                    <!-- Add preview modal -->
                    <div class="modal fade" th:id="'order' + ${transaksi.getOrderId()} + 'Modal'" tabindex="-1" th:aria-labelledby="'order' + ${transaksi.getOrderId()} + 'Label'" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" th:id="'order' + ${transaksi.getOrderId()} + 'Label'">Konfirmasi pesanan berikut?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" th:id="'#order' + ${transaksi.getOrderId()} + 'Preview'">
                                    <h4 th:text="'Order #' + ${transaksi.getOrderId()}"></h4>
                                    <p th:text="${transaksi.getCreatedAt()}"></p>
                                    <p th:text="'User: ' + ${transaksi.getPembeli()}"></p>
                                    <p th:text="'Ukuran: ' + ${transaksi.getPackaging().getJenisPackage()}">Ukuran: Huge (50)</p>
                                    <p>Decoration: </p>
                                    <div th:each="dekorasi:${transaksi.getPackaging().getDecorations()}">
                                        <div th:text="${dekorasi.jenisDekorasi}"></div>
                                    </div>
                                    <p>Product: </p>
                                    <div style="display: flex">
                                        <div th:each="product:${transaksi.getProductSummaries()}">
                                            <img th:src="${product.getProduct().getImg()}" width="120em" height="120em" alt="gambar">
                                            <div>
                                                <h4 th:text="${product.getProduct().getName()}">Nendu matsuri</h4>
                                                <p th:text="'Unit: ' + ${product.getProduct().getUnit()}"></p>
                                                <p th:text="'Qty: ' + ${product.getQty()}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name="id" th:value="${transaksi.getOrderId()}">
                                    <input type="hidden" name="status" value="Selesai">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tidak</button>
                                    <button type="submit" class="btn btn-success submitButton">Ya</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<footer th:replace="fragments :: footer" />
</body>
</html>