<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selected Package</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
<!--        <h1 th:text=" 'size: ' + ${size}"></h1>-->
<!--        <h1 th:text=" 'decoration 1: ' + ${decoration1}"></h1>-->
<!--        <h1 th:text=" 'decoration 2: ' + ${decoration2}"></h1>-->
<!--        <h1 th:text=" 'decoration 3: ' + ${decoration3}"></h1>-->
<!--        <br>-->
        <h1>Selected Packaging:</h1>
        <h2 th:text="'deskripsi: ' + ${packaging.getDescription()}"></h2>
        <h2 th:text="'kapasitas: ' + ${packaging.getCapacity()}"></h2>
        <h3>hiasan:</h3>
        <ul>
            <li th:each="hiasan : ${packaging.getDecorations}" th:text="${hiasan}"></li>
        </ul>
    </div>
</body>
</html>