body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.content {
  margin-top: 5rem;
}
.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  list-style: none;
  padding: 10px;
  margin: 0 10px;
}
.btn-primary {
  color: #ffffff;
  background-color: #8d6852;
  border-color: #8d6852;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #785a48;
  border-color: #8d6852;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #8d6852;
  border-color: #8d6852;
}

.btn-primary .badge {
  color: #8d6852;
  background-color: #ffffff;
}
.btn-outline-secondary {
  color: burlywood;
  border-color: burlywood;
}
.btn-outline-secondary:hover {
  background-color: rosybrown;
  border-color: rosybrown;
}
.btn-check:active + .btn-outline-secondary,
.btn-check:checked + .btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary:active {
  color: #fff;
  background-color: burlywood;
  border-color: burlywood;
}

.btn-secondary {
  background-color: #8d6852;
}
#canvas {
  width: 100%;
  height: 100vh;
}

.rect-img-container {
  position: relative;
}

.rect-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rect-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: rosybrown;
  cursor: pointer;
}
a:hover {
  color: #27282d;
}
.toastjs-container {
  position: absolute;
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: calc(100% - 60px);
  max-width: 400px;
  transform: translateX(-150%);
  transition: transform 1s;
  z-index: 100;
}
.toastjs-container[aria-hidden="false"] {
  transform: translateX(0);
}
.toastjs {
  background: #fff;
  padding: 10px 15px 0;
  border-left-style: solid;
  border-left-width: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.toastjs.default {
  border-left-color: #aaa;
}
.toastjs.success {
  border-left-color: #2ecc40;
}
.toastjs.warning {
  border-left-color: #ff851b;
}
.toastjs.danger {
  border-left-color: #ff4136;
}
.toastjs-btn {
  background: #f0f0f0;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.toastjs-btn--custom {
  background: #323232;
  color: #fff;
}
.toastjs-btn:focus,
.toastjs-btn:hover {
  outline: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
