<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head_html">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e3245b83f2.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .btn-secondary {
            border: 1px solid black;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: white;
            color: black;
        }
        .btn-secondary:hover {
            background-color: #27282d !important;
            color: white !important;
        }
        .navbar-light .navbar-nav .nav-link {
            color: black;
        }
        .navbar-light .navbar-nav .nav-link:hover {
            color: black;
            border-color: black;
            background-color: transparent;
        }
        .navbar-toggler {
            border: none;
        }
        .dropdown-item:hover {
            background-color: #27282d !important;
            color: white !important;
        }
        .footer {
            background-color: #27282d;
            color: white
        }
        footer i {
            font-size: 26px;
            margin-right: 20px;
        }
        .footer h3 {
            color: #8d6852;
        }
        #copyright {
            font-size: 12px;
            margin: 0;
            color: #8d6852;
        }
        hr {
            color: #8d6852;
        }
        .footer-link {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
        .footer-link:hover {
            color: #b2b2b2;
        }
    </style>
</head>

<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg bg-light white fixed-top" >
        <div class="container-fluid">
            <a th:href="@{/}" class="navbar-brand">
                <img style="height: 50px; width: 50px;" th:src="@{/images/logo.png}" />
            </a>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                </ul>
                <div id="logged-in">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="username"></span><i class="ms-2 fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/history}">history</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">logout</a>
                    </div>
                </div>
                <div id="logged-out">
                    <a th:href="@{/login}" ><button class="btn" type="submit">Login</button></a>
                    <a class="btn-secondary ml-2" th:href="@{/registration}">Register</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/scripts/index.js}"></script>
    </nav>
<footer th:fragment="footer" class="footer absolute">
    <div class="container py-3">
        <div class="row mt-4 mb-5 pb-5">
            <div class="col-md-6 pr-0">
                <div class="row">
                    <div class="col-6">
                        <div class="col-12">
                            <h3>
                                <img style="height: 150px; width: 150px;" th:src="@{/images/logo.png}" />
                            </h3>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="row align-items-center my-3">
                                <h3>FOLLOW US</h3>
                            </div>
                            <div class="d-flex flex-row">
                                <i class="fa fa-instagram footer-link"></i>
                                <i class="fa fa-twitter footer-link"></i>
                                <i class="fa fa-facebook footer-link"></i>
                                <i class="fa fa-whatsapp footer-link"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center mb-3">
                            <h3>ADVANCED HAMPERS</h3>
                        </div>
                        <div class="row">
                            <a class="footer-link" th:href="@{/build}">Build Hampers</a>
                            <a class="footer-link" th:href="@{/#bestsellers}">Bestselling Products</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-0">
                <div class="row align-items-center mb-3">
                    <h3>ABOUT US</h3>
                </div>
                <div class="d-flex flex-row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan lorem nisl, sit amet laoreet ex ultricies ut. Duis non diam in lectus pellentesque ultricies viverra ac metus. Biar ga sepi dulu aja</p>
                </div>
            </div>
        </div>
        <div class="row">
            <hr class="divider"></hr>
        </div>
        <div class="row">
            <p id="copyright" class="text-center">&copy; 2021 Advanced Hampers. All Rights Reserved.</p>
        </div>
    </div>
</footer>
</body>
<div th:fragment="script">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
            integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</div>

</html>