<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head_html" />

<style>
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
    .jumbotron-image {
        min-height: 450px;
        background-image: url("https://whatsnewindonesia.com/jakarta/wp-content/uploads/sites/2/2019/05/Lebaran-Hampers-1.jpg");
        background-position: center center;
        background-repeat: repeat;
        background-size: cover;
        min-height: 450px;
        list-style: none;
        padding: 10px;
        margin: 0 10px;
    }
    .btn, .card {
        border: none;
    }
    #jumbotron {
        position: relative;
    }

    #jumbotron a span {
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #27282d;
        border-bottom: 1px solid #27282d;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb04 2s infinite;
        animation: sdb04 2s infinite;
        box-sizing: border-box;
    }
    .parallax {
        background-image: url("https://images.unsplash.com/photo-1595871213029-7476de0d71dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=922&q=80");
        min-height: 40vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card:hover {
        -ms-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    @-webkit-keyframes sdb04 {
        0% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
        }
        20% {
            -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
        }
    }
    @keyframes sdb04 {
        0% {
            transform: rotate(-45deg) translate(0, 0);
        }
        20% {
            transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
            transform: rotate(-45deg) translate(0, 0);
        }
    }

    @media only screen and (max-width: 480px) {
        #jumbotron-title {
            padding-left: 50px;
        }
    }

</style>

<body>
<nav th:replace="fragments :: navbar" />

<div class="content" style="padding-top: 4.5rem">
    <section id="jumbotron">
        <div class="container mx-auto px-0 mb-3">
            <div class="row align-items-center">
                <div class="col-md-6 px-0" id="jumbotron-title">
                    <h1 class="mb-4 black">Advanced Hampers.</h1>
                    <h4 class="mb-4 black">#build your own hampers</h4>
                    <a th:href="@{/build}" class="btn btn-primary">Build now</a>
                </div>
                <div class="col-md-6 px-0">
                    <div class="container-fluid pb-5 mx-0 px-0">
                        <div class="jumbotron jumbotron-image shadow p-3 my-0 mx-3"></div>
                    </div>
                </div>
            </div>
            <a href="#bestsellers"><span></span></a>
        </div>
    </section>

    <section>
        <div class="parallax"></div>
    </section>

    <section id="bestsellers">
        <div class="container text-center py-5 mb-5">
            <h2 mb-5>Bestselling Products</h2>
            <div class="row d-flex justify-content-center my-5" id="bestseller">
            </div>
        </div>
    </section>
</div>

<footer th:replace="fragments :: footer" />

</body>

<div th:replace="fragments :: script" />
<script type="text/javascript">
    $(function(){
        $.ajax({
            type : 'GET',
            url : "/api/history/bestsellers",
            success : function (data) {
                console.log(data);
                if (data.length > 0) {
                    for (let i = 0; i < data.length; i++) {
                        const product = data[i];
                        if (product != null) {
                            $("#bestseller").append(`
                        <div class="col-md-3 col-6">
                            <div class="card text-center">
                                <img class="w-75 mx-auto" src="${product.img}" alt="${product.name}">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <h5>${product.name}</h5>
                                    <div class="button btn btn-primary mx-auto mt-2"><a href="/build"><i class="fa fa-shopping-cart"></i> Shop now</a></div>
                                </div>
                            </div>
                        </div>
                        `);
                        }
                    }
                } else {
                    $('#bestsellers').hide();
                }
            }
        })
    })
</script>
</html>
